body{
    background-color: #e44332;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline:none;
    box-shadow:none;
}

.btn:active.delete,.btn:hover.delete{
    color: #e00909;
}
.btn:active.done,.btn:hover.done{
    color: #55dd0b;
}
.btn:active.edit,.btn:hover.edit{
    color: #ff7300;
}

.btn.add{
    background-color: #ff7300;
}

li>span{
    cursor: context-menu;
    color: #002500;
}

.listEntry.done{
    color: #e00909;
    text-decoration: line-through;
}